<%- include('../partials/header') %>


<div class="wrapper">
  <div class="sidebar">
    <div class="admin-sidebar">
      <div class="admin-sidebar-title"></div>
      <div>
        <h1>Admin Menu</h1>
        <a class="admin-sidebar-link active" href="/admin/search">Add</a>
        <a class="admin-sidebar-link" href="/admin/movies">Movies</a>
        <a class="admin-sidebar-link" href="/admin/series">Series</a>
      </div>
      
    </div>
  </div>
  <div class="admin-body">
    
    <form class="search-admin" action="/admin/search" method="POST">
      <h2>Search</h2>
        <label>Title:</label>
        <input type="text" name="searchString" value="<%=query%>">
        <select name="type" id="">
            <option value="movie">movie</option>
            <option value="tv">series</option>
        </select>
        <button>Search</button>  
    </form>
        <% searchResult.forEach(function(result){ %>
            <div class="episode-detail">
                <div>
                   <% if(result.poster_path != null ){ %>
                        <img class="poster-admin" src="<%= `https://image.tmdb.org/t/p/w500${result.poster_path}` %>" alt="">
                    <% }else{ %>
                        <img class="poster-admin" src="/images/nopicture.jpg" alt="">
                    <% } %>
                   
                </div>
                <% if(type == 'movie'){ %>
                <div>
                  <%=  result.title %>
                </div>
                <% }else{ %>
                    <%= result.name %>
                <% } %>
                <% if(type == 'movie'){ %>
                    <div class="countdown" id="<%= result.release_date %>">
                        <div id="countdown"></div>
                        <div id="newcountdown"></div>
                    </div>
                    <% }else{ %>
                        <%= result.name %>
                    <% } %>
               
                <div>
                    <% if(type == 'movie'){ %>
                        <form action="/movies" method="POST">
                          <input type="hidden" name="movieId" value="<%=result.id%>">
                          <input type="submit" value="Add To Website">
                        </form>
                  <%  }else{ %>
                        <form action="/series" method="POST">
                          <input type="hidden" name="seriesId" value="<%=result.id%>">
                          <input type="submit" value="Add To Website">
                        </form>
                  <%  } %>
                    
                </div>
                
            </div>
            
        <% }) %>
  </div>

</div>


        
        <%- include('../partials/footer') %>