<%- include('../partials/header') %>
<h1>Series List</h1>
<div class="list-wrapper">
    <div><input type="text" id="search" onkeyup="livesearch()" placeholder="Search for names.."></div>
    <div>
        <div class="grid-container">
            <% series.forEach(function(serie ){ %>
            <div class="cards grid-item">
                <div>
                    <a  href="/series/<%= serie._id %>"><img class="poster-small" src="https://image.tmdb.org/t/p/w500<%=serie.poster_path%>" alt=""></a>
                    
                </div>
                <div>
                    <div class="title-small"><%= serie.name %></div>
                    <div>counter</div>
                    <div></div>
                </div>
            </div>
            <%})%>
        </div>
    </div>
    
</div>
  
    <%- include('../partials/footer') %>