<%- include('../partials/header') %>
<h1>Movies List</h1>
<input type="text" id="search" onkeyup="livesearch()" placeholder="Search for names..">
<div class="grid-container">
  <% movies.forEach(function(movie){ %>
    <div class="grid-item cards">
      <div>
        <a  href="/movies/<%= movie._id %>"><img class="poster-small" src="https://image.tmdb.org/t/p/w500<%=movie.poster_path%>" alt="movie.title"></a>
       
      </div>
      <div>
        <div class="title"><%= movie.title %></div>
        <div><%= movie.details %></div>
        <div class="countdown" id="<%= movie.release_date %>">
          <h2 id="countdown"></h1>
          <h2 id="newcountdown"></h2>
      </div>
       </div>
    </div>
  <%})%>
</div>

<%- include('../partials/footer') %>
