<%- include('../partials/header') %>
<h1>Movies List</h1>
<input
  type="text"
  id="search"
  onkeyup="livesearch()"
  placeholder="Search for names.."
/>
<div class="grid-container">
  <% movies.forEach(function(movie){ %>
  <div class="card">
    <a href="/movies/<%= movie._id %>" class="card-link">
      <div class="card-poster">
        <img
          src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>"
          alt="<%= movie.title %>"
        />
        <div class="card-overlay">
          <span class="view-details">View Details</span>
        </div>
      </div>
      <div class="card-content">
        <h3 class="card-title"><%= movie.title %></h3>
        <div class="card-countdown">
          <div class="countdown" data-date="<%= movie.release_date %>">
            <!-- Countdown will be inserted here -->
          </div>
        </div>
      </div>
    </a>
  </div>
  <%})%>
</div>

<%- include('../partials/footer') %>
