<%- include('../partials/header') %>


<div class="show-top">
    <div> <img class="show-poster" src=" <%= `https://image.tmdb.org/t/p/original${movie.poster_path}`%>" alt="">
    </div>
    <div class="show-details">
        <h1 class="name-top">
                <%=movie.title %>

        </h1>
        <div>
            <% if(user.moviesList.find(element => element.toString() == movie._id.toString())){%>
                <form action="/user/<%= movie._id %>?_method=DELETE" method="POST" name="movie">
                    <input type="hidden" name="ref" value="Movies" >
                    <button>Remove From Wish List</button>
                </form>
            
            <% }else {  %>
                <form action="/user/<%=movie._id%>?_method=PUT" method="POST">
                    <input type="hidden" name="ref" value="Movie" >
                    <button>Add To The Wish List</button>
                </form>
            <% } %>

    </div>
</div>
<div class="countdown" id="<%= movie.release_date %>">
    <div id="countdown"></div>
    <div id="newcountdown"></div>
</div>
    


<%- include('../partials/footer') %>